.git
*.egg-info/
database/
fof/
node_modules/
python_modules/
scripts/
webpack/

app/web/assets

.cache
.vscode
.idea
.data
.gitignore

.babelrc
alembic.ini
docker-compose.yml
jsconfig.json
logstash.conf
package.json
README.md
webpack.config.js
yarn.lock