@import '~@material/theme/variables';

.background-primary {
    background: linear-gradient(to right top, $mdc-theme-primary-dark, $mdc-theme-primary-light);
}

.background-secondary {
    background: linear-gradient(to right top, $mdc-theme-secondary-dark, $mdc-theme-secondary-light);
}

.button-container {
    .button {
        width: 36px;
        min-width: 36px;
        height: 36px;
        display: inline-block;
        padding: 0;
        background-color: $mdc-theme-background;
        vertical-align: middle;
    }

    .button-icon {
        border-radius: 50%;
    }

    .button-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit;
    }
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px;
    border-color: $mdc-theme-primary-light;
}

.image {
    height: 70px;
}